# WEB SCRAPING ‚Äì ASSIGNMENT 2

In [1]:
#Importing libraries reqiured
import selenium
import pandas as pd
import time
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

Q1: Write a python program to scrape data for ‚ÄúData Analyst‚Äù Job position in ‚ÄúBangalore‚Äù location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.

In [2]:
#Connect to web driver
driver = webdriver.Chrome("chromedriver.exe") 

#Getting the website to driver
url = 'https://www.naukri.com/'
driver.get(url)
#When we run this line, automatically the webpage will be opened

search_job = driver.find_element_by_class_name("suggestor-input")
search_job

#To write on the search bar
search_job.send_keys("Data Analyst")

time.sleep(4)

#finding web element for search location bar using absolute xpath
search_locn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_locn

#To write on the search bar
search_locn.send_keys("Bangalore")

time.sleep(4)

#clicking using absolute xpath function
search_btn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn

#To click on the search button
search_btn.click()

time.sleep(4)

# Extracting all web elements having job titles
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title_tags

#Now the text of job title inside the web elements is extracted above
#Using For loop to iterate over the tags and extract text from them
job_titles = []

for i in title_tags[:10]:
    job_titles.append(i.text)

job_titles

time.sleep(4)

# Extracting all web elements having job location
locn_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
locn_tags

#Now the text of job location inside the web elements is extracted above
#Using For loop to iterate over the tags and extract text from them
location = []

for i in locn_tags[:10]:
    location.append(i.text)

location

time.sleep(4)

# Extracting all web elements having company names
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_tags

#Now the text of company names inside the web elements is extracted above
#Using For loop to iterate over the tags and extract text from them
company_names = []

for i in company_tags[:10]:
    company_names.append(i.text)

company_names

time.sleep(4)

# Extracting all web elements having experience using parent tag
exp_tag = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')

#Now the text of experience inside the web elements is extracted above
#Using For loop to iterate over the tags and extract text from them
experience = []

for i in exp_tag[:10]:
    experience.append(i.text)

experience

time.sleep(4)

jobs = pd.DataFrame({'Job_Title':job_titles,'Job_location':location,'Company':company_names,'Experience required':experience})
jobs

,Job_Title,Job_location,Company,Experience required
0,Hiring For Data Analyst I(SQL & Python),Bangalore/Bengaluru,Clario India Pvt Ltd,0-2 Yrs
1,Senior Data Analyst,Bangalore/Bengaluru,Flipkart,3-8 Yrs
2,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,2-4 Yrs
3,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,2-4 Yrs
4,Hiring Data analyst with Pharma Background acr...,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",HCL,6-11 Yrs
5,Data Coordinator | Data Analyst | MS Excel | T...,Bangalore/Bengaluru(Sadashiva Nagar),Inspiration Manpower Consultancy Pvt. Ltd.,4-7 Yrs
6,Lead Data Analyst - Flipkart Data science group,Bangalore/Bengaluru,Flipkart,1-3 Yrs
7,Data Analyst,Bangalore/Bengaluru,Flipkart,1-2 Yrs
8,Data Analyst,Bangalore/Bengaluru,Flipkart,1-2 Yrs
9,Data Analyst,Bangalore/Bengaluru,Flipkart,1-3 Yrs

In [3]:
#Closing the driver
driver.close()

Q2: Write a python program to scrape data for ‚ÄúData Scientist‚Äù Job position in ‚ÄúBangalore‚Äù location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [4]:
#Connect to web driver
driver = webdriver.Chrome("chromedriver.exe") 

#Getting the website to driver
url = 'https://www.naukri.com/'
driver.get(url)
#When we run this line, automatically the webpage will be opened

time.sleep(4)

search_job = driver.find_element_by_class_name("suggestor-input")
search_job

#To write on the search bar
search_job.send_keys("Data Scientist")

time.sleep(4)

#finding web element for search location bar using absolute xpath
search_locn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_locn

#To write on the search bar
search_locn.send_keys("Bangalore")

time.sleep(4)

#clicking using absolute xpath function
search_btn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn

#To click on the search button
search_btn.click()

time.sleep(4)

# Extracting all web elements having job titles
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title_tags

#Now the text of job title inside the web elements is extracted above
#Using For loop to iterate over the tags and extract text from them
job_titles = []

for i in title_tags[:10]:
    job_titles.append(i.text)

job_titles

time.sleep(4)

# Extracting all web elements having job location
locn_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
locn_tags

#Now the text of job location inside the web elements is extracted above
#Using For loop to iterate over the tags and extract text from them
location = []

for i in locn_tags[:10]:
    location.append(i.text)

location

time.sleep(4)

# Extracting all web elements having company names
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_tags

#Now the text of company names inside the web elements is extracted above
#Using For loop to iterate over the tags and extract text from them
company_names = []

for i in company_tags[:10]:
    company_names.append(i.text)

company_names

time.sleep(4)

jobs = pd.DataFrame({'Job_Title':job_titles,'Job_location':location,'Company':company_names})
jobs

,Job_Title,Job_location,Company
0,Need Data scientists and data engineers - WFH-...,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M...",Covalense Technologies Private Limited
1,Principal Data Scientist,Bangalore/Bengaluru,Mobile Premier League
2,Data Scientist,"Pune, Gurgaon/Gurugram, Chennai, Bangalore/Ben...",HDFC Bank
3,Data Scientist,Bangalore/Bengaluru,Shell
4,Computer Vision Python Data Scientist,"Mumbai, Hyderabad/Secunderabad, Pune, Chennai,...",OceanOfWeb
5,Data Scientist,Bangalore/Bengaluru,Minions Ventures
6,Data Scientist,Bangalore/Bengaluru,Gojek
7,Senior/ Lead Data Scientist,Bangalore/Bengaluru,AmoliTalents
8,Data Scientist / Analyst,Bangalore/Bengaluru,open data fabric
9,Forecasting Analyst/ Data Scientist (US Client),"Gurgaon/Gurugram, Bangalore/Bengaluru\n(WFH du...",Concentrix

In [5]:
#Closing the driver
driver.close()

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for ‚ÄúData Scientist‚Äù designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is ‚ÄúDelhi/NCR‚Äù. The salary filter to be used is ‚Äú3-6‚Äù lakhs

In [6]:
#Connect to web driver
driver = webdriver.Chrome("chromedriver.exe") 

#Getting the website to driver
url = 'https://www.naukri.com/'
driver.get(url)
#When we run this line, automatically the webpage will be opened

search_job = driver.find_element_by_class_name("suggestor-input")
search_job

#To write on the search bar
search_job.send_keys("Data Scientist")

#clicking using absolute xpath function
search_btn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn

#To click on the search button
search_btn.click()

time.sleep(4)

#To apply filter for location by checking the box
location_check = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]')
#To click on the box to check
location_check.click()

time.sleep(4)

#To apply filter for location by checking the box
salary_check = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]')
#To click on the box to check
salary_check.click()

time.sleep(3)

# Extracting all web elements having job titles
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title_tags

#Now the text of job title inside the web elements is extracted above
#Using For loop to iterate over the tags and extract text from them
job_titles = []

for i in title_tags[:10]:
    job_titles.append(i.text)

job_titles

time.sleep(3)

# Extracting all web elements having job location
locn_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
locn_tags

#Now the text of job location inside the web elements is extracted above
#Using For loop to iterate over the tags and extract text from them
location = []

for i in locn_tags[:10]:
    location.append(i.text)

location

time.sleep(3)

# Extracting all web elements having company names
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_tags

#Now the text of company names inside the web elements is extracted above
#Using For loop to iterate over the tags and extract text from them
company_names = []

for i in company_tags[:10]:
    company_names.append(i.text)

company_names

time.sleep(3)

# Extracting all web elements having experience using parent tag
exp_tag = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')

#Now the text of experience inside the web elements is extracted above
#Using For loop to iterate over the tags and extract text from them
experience = []

for i in exp_tag[:10]:
    experience.append(i.text)

experience

jobs = pd.DataFrame({'Job_Title':job_titles,'Job_location':location,'Company':company_names,'Experience required':experience})
jobs

,Job_Title,Job_location,Company,Experience required
0,"Excellent Opportunity For Freshers For AI/ML, ...","Noida, Kolkata, Hyderabad/Secunderabad, Pune, ...",NTT Data,0-0 Yrs
1,Junior Data Analyst/ Scientist- Fresher Position,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Sejal Consulting Hub,0-3 Yrs
2,Data Analyst / Data Scientist / Business Analy...,"Noida, New Delhi, Delhi / NCR",GABA Consultancy services,0-0 Yrs
3,Hiring For Senior Data Scientist-Noida,"Noida, New Delhi, Greater Noida",Lumiq.ai,2-6 Yrs
4,Data Scientist _NLP,"Bangalore/Bengaluru, Delhi / NCR\n(WFH during ...",EXL,3-8 Yrs
5,Data Scientist - MIND Infotech,Noida,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs
6,Data Scientist - MIND Infotech,Noida,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs
7,Only Fresher / Python Data Scientist / Trainee...,"Noida, New Delhi, Gurgaon/Gurugram",GABA Consultancy services,0-0 Yrs
8,Lead Data Scientist,Delhi / NCR\n(WFH during Covid),Indihire HR Consultants Private Limited,2-4 Yrs
9,Hiring For Data Scientist- Gurgaon/ Noida,"Noida, Gurgaon/Gurugram",Mascot e-services,2-4 Yrs

In [7]:
#Closing the driver
driver.close()

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image.

In [8]:
#Connect to web driver
driver = webdriver.Chrome("chromedriver.exe") 

#Getting the website to driver
url = 'https://www.flipkart.com/'
driver.get(url)
#When we run this line, automatically the webpage will be opened

time.sleep(2)

#Closing the login popup
close_popup = driver.find_element_by_xpath('/html/body/div[2]/div/div/button')

#To click on the close button
close_popup.click()

time.sleep(3)   #3 seconds wait time for each page

#Extracting the elements for search bar
search_product = driver.find_element_by_xpath("//input[@type='text']")
search_product

#To write on the search bar
search_product.send_keys("sunglasses")

time.sleep(6)

#clicking using absolute xpath function
search_btn = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn

#To click on the search button
search_btn.click()

time.sleep(3)

#Taking the empty lists
brand=[]
prod_desc=[]
actual_price=[]
discount=[]
disc_price=[]

#We need to scrap for 100 products and here we will consider the data from first 3 pages
#We will take a for loop and scrap data from all the pages
for i in range(0,3):
    for j in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        brand.append(j.text)
    for j in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        prod_desc.append(j.text)
    for j in driver.find_elements_by_xpath("//div[@class='_3I9_wc']"):
        actual_price.append(j.text)
    for j in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span"):
        discount.append(j.text)
    for j in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        disc_price.append(j.text)

#Path for next page as it changes for every page. We are appending numbers as pages change 
k=i+1
next_page="https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page="+str(k)
driver.get(next_page)
time.sleep(2)    

#Checking the length of the data scraped
print(len(brand),len(prod_desc),len(actual_price),len(discount),len(disc_price))

#Creating a new dataframe
sunglasses=pd.DataFrame({})
sunglasses['Brand']=brand[:100]
sunglasses['Description']=prod_desc[:100]
sunglasses['Original Price']=actual_price[:100]
sunglasses['Discount']=discount[:100]
sunglasses['Discounted Price']=disc_price[:100]
sunglasses

120 117 120 120 120

,Brand,Description,Original Price,Discount,Discounted Price
0,VINCENT CHASE,UV Protection Wayfarer Sunglasses (59),"‚Çπ1,999",62% off,‚Çπ749
1,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...","‚Çπ2,500",70% off,‚Çπ749
2,SRPM,UV Protection Wayfarer Sunglasses (50),"‚Çπ1,299",88% off,‚Çπ148
3,Elligator,UV Protection Round Sunglasses (54),"‚Çπ2,495",91% off,‚Çπ208
4,PIRASO,UV Protection Aviator Sunglasses (54),"‚Çπ1,599",88% off,‚Çπ179
...,...,...,...,...,...
95,Singco India,"Gradient, UV Protection Wayfarer Sunglasses (F...","‚Çπ1,499",90% off,‚Çπ144
96,PIRASO,UV Protection Wayfarer Sunglasses (Free Size),"‚Çπ1,599",89% off,‚Çπ175
97,Fastrack,"UV Protection, Mirrored Wayfarer, Retro Square...",‚Çπ899,30% off,‚Çπ629
98,Fastrack,"Polarized, Night Vision, Riding Glasses Sports...",‚Çπ799,31% off,‚Çπ549
99,NuVew,"UV Protection, Polarized, Mirrored Round Sungl...","‚Çπ1,225",79% off,‚Çπ246

In [9]:
#Closing the driver
driver.close()

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage .
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [10]:
#Connect to web driver
driver = webdriver.Chrome("chromedriver.exe") 

#Getting the website to driver
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART'
driver.get(url)
#When we run this line, automatically the webpage will be opened

#creating empty lists
Rating=[]
review=[]
full_summary=[]

#As there are nearly 10 reviews per page, we will check for 11 pages and scrap the required data
#Now we will take a for loop and scrap
for i in range(0,11):
    for j in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        Rating.append(j.text)
    for j in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        review.append(j.text)
    for j in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        full_summary.append(j.text)
    
    #Path for next page as it changes for every page. We are appending numbers as pages change  
    k=i+1
    next_page="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page="+str(k) 
    driver.get(next_page)
    time.sleep(2)  #2 seconds wait time for each page  

    
#Checking the length of the data scraped
print(len(Rating),len(review),len(full_summary))    

time.sleep(2)

#Creating a new dataframe
iphone11=pd.DataFrame({})
iphone11['Rating']=Rating[:100]
iphone11['Review']=review[:100]
iphone11['Full summary']=full_summary[:100]
iphone11

104 110 110

,Rating,Review,Full summary
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Terrific purchase,finally an iPhone with very nice battery backu...
96,5,Worth every penny,iPhone is delivered on time. Display is great ...
97,5,Mind-blowing purchase,"beautiful shining, battery performance is too ..."
98,5,Excellent,ü§©ü§©ü§©ü§©ü§©ü§©I loved the Phone.. Every time I pick up...
99,5,Waste of money!,Mobile is not getting charge.Mobile cannot be ...

In [11]:
#Closing the driver
driver.close()

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for ‚Äúsneakers‚Äù in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [12]:
#Connect to web driver
driver = webdriver.Chrome("chromedriver.exe") 

#Getting the website to driver
url = 'https://www.flipkart.com/'
driver.get(url)
#When we run this line, automatically the webpage will be opened

time.sleep(2)

#Closing the login popup
close_popup = driver.find_element_by_xpath('/html/body/div[2]/div/div/button')

#To click on the close button
close_popup.click()

time.sleep(3)   #3 seconds wait time for each page

#Extracting the element of search bar
search_product = driver.find_element_by_xpath("//input[@type='text']")
search_product

#To write on the search bar
search_product.send_keys("sneakers")

time.sleep(6)

#clicking using bsolute xpath function
search_btn = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn

#To click on the search button
search_btn.click()

time.sleep(3)

#Taking the empty lists
brand=[]
prod_desc=[]
actual_price=[]
discount=[]
disc_price=[]

#We need to scrap for 100 products and here we will consider the data from first 3 pages
#We will take a for loop and scrap data from all the pages
for i in range(0,4):
    for j in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        brand.append(j.text)
    for j in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        prod_desc.append(j.text)
    for j in driver.find_elements_by_xpath("//div[@class='_3I9_wc']"):
        actual_price.append(j.text)
    for j in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span"):
        discount.append(j.text)
    for j in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        disc_price.append(j.text)

#Path for next page as it changes for every page. We are appending numbers as pages change 
k=i+1
next_page="https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page="+str(k)
driver.get(next_page)
time.sleep(2)    

#Checking the length of the data scraped
print(len(brand),len(prod_desc),len(actual_price),len(discount),len(disc_price))

#Creating a new dataframe
sneakers=pd.DataFrame({})
sneakers['Brand']=brand[:100]
sneakers['Description']=prod_desc[:100]
sneakers['Original Price']=actual_price[:100]
sneakers['Discount']=discount[:100]
sneakers['Discounted Price']=disc_price[:100]
sneakers

160 132 160 160 160

,Brand,Description,Original Price,Discount,Discounted Price
0,Numenzo,Sneakers For Men,"‚Çπ2,999",80% off,‚Çπ599
1,KWIK FIT,Kwik FIT casual sneaker shoes and partywear sh...,"‚Çπ1,999",82% off,‚Çπ347
2,Magnolia,Sneakers For Men,‚Çπ999,67% off,‚Çπ327
3,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,"‚Çπ1,598",68% off,‚Çπ501
4,TR,Sneakers For Men,‚Çπ999,72% off,‚Çπ272
...,...,...,...,...,...
95,SHELBY,Lattest Sneakers Shoe Sneakers For Men,"‚Çπ1,299",61% off,‚Çπ499
96,D-SNEAKERZ,Sneakers For Men,‚Çπ659,62% off,‚Çπ249
97,Shoes Bank,Combo Pack Of 2 Latest Stylish Casual Shoes fo...,‚Çπ999,75% off,‚Çπ248
98,DUNKASTON,Sneakers For Men,"‚Çπ1,499",82% off,‚Çπ269
99,RapidBox,Sneakers For Men,‚Çπ999,42% off,‚Çπ570

In [13]:
#Closing the driver
driver.close()

Q7: Go to the link - https://www.myntra.com/shoes
Set Price filter to ‚ÄúRs. 7149 to Rs. 14099 ‚Äù , Color filter to ‚ÄúBlack‚Äù, as shown inthe below image.
And then scrape First 100 shoes data you get. The data should include ‚ÄúBrand‚Äù of the shoes , Short Shoe
description, price of the shoe as shown in the below image.

In [14]:
#Connect to web driver
driver = webdriver.Chrome("chromedriver.exe") 

#Getting the website to driver
url = 'https://www.myntra.com/shoes'
driver.get(url)

#When we run this line, automatically the webpage will be opened

time.sleep(2) #2 seconds wait time

#Filtering the color black
driver.find_element_by_xpath("//span[@data-colorhex='black']").click()

time.sleep(2)

#Filtering the price range Rs. 7149 to Rs. 14099
driver.find_element_by_xpath("//ul[@class='price-list']/li[2]").click()

time.sleep(2)

#Taking the empty lists
brand=[]
short_desc=[]
price=[]

#We can see that there are 50 products in one page, and as we need to scrap for 100 products, we need to take 2 pages data
for i in range(0,2):
    #Finding the tags having the brand name
    for j in driver.find_elements_by_xpath("//h3[@class='product-brand']"):
        brand.append(j.text) #Extracting text from tags and appending to emptylist
    
    #Finding the tags having short description of the shoe
    for j in driver.find_elements_by_xpath("//h4[@class='product-product']"):
        short_desc.append(j.text) #Extracting text from tags and appending to emptylist
        
    #Finding the tags having the price of the shoe
    for j in driver.find_elements_by_xpath("//div[@class='product-price']"):
        price.append(j.text)  #Extracting text from tags and appending to emptylist
    driver.find_element_by_class_name('pagination-next').click()   #Button path for moving to next page
    time.sleep(2)  
    
#Checking the length of the list
print(len(brand),len(short_desc),len(price))

#Creating a new dataframe
shoes=pd.DataFrame({})
shoes['Brand name']=brand
shoes['Short description']=short_desc
shoes['Price']=price
shoes

100 100 100

,Brand name,Short description,Price
0,Nike,Men Winflo 7 Running Shoes,Rs. 7995
1,ALDO,Men Printed Sneakers,Rs. 9099Rs. 12999(30% OFF)
2,ALDO,Men Leather Driving Shoes,Rs. 12999
3,Puma,Electrify Nitro Running Shoes,Rs. 9999
4,ALDO,Men Woven Design Sneakers,Rs. 13999
...,...,...,...
95,Saint G,Leather Boots with Buckles,Rs. 8925Rs. 10500(15% OFF)
96,Pavers England,Men Printed Loafers,Rs. 11999
97,Saint G,High-Top Block Heeled Boots,Rs. 10625Rs. 12500(15% OFF)
98,Saint G,Embellished Leather Block Heeled Boots,Rs. 7869Rs. 12900(39% OFF)
99,Saint G,Women High-Top Heeled Boots,Rs. 12093Rs. 13900(13% OFF)

In [15]:
#Closing the driver
driver.close()

Q8: Go to webpage https://www.amazon.in/
Enter ‚ÄúLaptop‚Äù in the search field and then click the search icon.
Then set CPU Type filter to ‚ÄúIntel Core i7‚Äù and ‚ÄúIntel Core i9‚Äù as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes.

In [40]:
#Connect to web driver
driver = webdriver.Chrome("chromedriver.exe") 

#Getting the website to driver
driver.get('https://www.amazon.in/')

#When we run this line, automatically the webpage will be opened

time.sleep(2) #2 seconds wait time

#Searching laptop in the search bar and clicking the search button
search_bar=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
search_bar

# Entering ‚ÄúLaptop‚Äù in the search field
search_bar.send_keys("laptop")

# Clicking on the search button
search_btn = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search_btn.click()

In [41]:
# Setting CPU Type filter to "Intel Core i7"
intel_i7 = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[11]/span/a/div')
intel_i7.click()

In [42]:
# Scraping data for laptop titles
titles = driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")

laptop_titles = []  #empty list
for i in titles:
        laptop_titles.append(i.text)
laptop_titles =laptop_titles[:10]
laptop_titles

['ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 144Hz, Intel Core i7-11600H 11th Gen, 4GB RTX 3050 Graphics, Gaming Laptop (16GB/512GB SSD/Windows 10/Office 2019/Gray/2.3 Kg), FX566HCB-HN299TS',
 'ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Integrated Graphics/Office 2021/Windows 11/Silver/1.6 Kg), X415JA-EK701WS',
 'Mi Notebook Ultra 3.2K Resolution Display Intel Core i7-11370H 11th Gen 15.6-inch(39.62 cm) Thin and Light Laptop (16GB/512GB SSD/Iris Xe Graphic/Win 10/MS Office/Backlit KB/Fingerprint Sensor/1.7Kg)',
 'ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Integrated Graphics/Office 2021/Windows 11/Silver/1.6 Kg), X415JA-EK701WS',
 'ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 144Hz, Intel Core i7-11600H 11th Gen, 4GB RTX 3050 Graphics, Gaming Laptop (16GB/512GB SSD/Windows 10/Office 2019/Gray/2.3 Kg), FX566HCB-HN299TS',
 'LG Gram Intel Evo 11th Gen Core i7 17 inches Ultra-Light Laptop (16 GB RAM, 512 GB SSD, New Windows 11 Home Preload, Iris Xe Graphics, USC -C x 2 (with Power), 1.35 kg, 17Z90P-G.AH85A2, Black)',
 'MSI GF75 Thin Gaming, Intel Core i7-10750H, 44cm IPS-Level 144Hz Panel Laptop (8GB/512GB NVMe SSD/Windows 10 Home/Nvidia GeForce GTX 1650/GDDR6 4GB/Black/2.2kg) 10SCXR-654IN',
 'ASUS VivoBook K15 OLED (2021), 15.6-inch (39.62 cms) FHD OLED, Intel Core i7-1165G7 11th Gen, Thin and Light Laptop (16GB/512GB SSD/Iris Xe Graphics/Office 2021/Windows 11/Silver/1.8 Kg) K513EA-L712WS',
 'HP Pavilion x360 11th Gen Intel Core i7 14 inches FHD, IPS, Convertible Laptop (16 GB RAM/512GB SSD, B&O/Win 11 Home/Backlit keyboard/FPR/ Alexa-Built in/MS Office/Natural Silver/1.52 Kg) -14-dy1013TU',
 'Fujitsu UH-X 11th Gen Intel Core i7 13.3‚Äù FHD IPS 400Nits Thin & Light Laptop(16GB/512GB SSD/Windows 11/Office 2021/Iris Xe Graphics/Backlit Kb/Fingerprint Reader/2Yr Warranty/Black/878gms),4ZR1F38024']

In [43]:
# Scraping data for laptop price
price = driver.find_elements_by_xpath("//span[@class='a-price-whole']")

laptop_price= []  #empty list
for i in price:
    laptop_price.append(i.text)
laptop_price =laptop_price[:10]
laptop_price

['89,990',
 '57,490',
 '77,499',
 '57,490',
 '89,990',
 '96,999',
 '70,000',
 '82,990',
 '85,790',
 '84,990']

In [44]:
#Extracting the tags having the product ratings
#First we will collect the urls of all laptops
laptop_urls=driver.find_elements_by_xpath('//a[@class="a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal"]')
URL=[]   #Taking an empty list

#Appending the url of first 10 laptops to empty list
for i in laptop_urls[:10]:
    URL.append(i.get_attribute('href'))   #Getting url alone
URL

['https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_atf_computers_sr_pg1_1?ie=UTF8&adId=A02130262CGYIQE11FTY0&url=%2FASUS-i7-11600H-RTX-3050-Office-2019-FX566HCB-HN299TS%2Fdp%2FB09PYVKSC7%2Fref%3Dsr_1_1_sspa%3Fcrid%3D1A2G92YQQITAW%26keywords%3Dlaptop%26qid%3D1647427979%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%26rnid%3D12598141031%26s%3Dcomputers%26sprefix%3D%252Caps%252C285%26sr%3D1-1-spons%26psc%3D1&qualifier=1647427979&id=8238060166086742&widgetName=sp_atf',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_atf_computers_sr_pg1_1?ie=UTF8&adId=A00383291UQK4N429GMLR&url=%2FASUS-VivoBook-i7-1065G7-Integrated-X415JA-EK701WS%2Fdp%2FB09LJ4VLHH%2Fref%3Dsr_1_2_sspa%3Fcrid%3D1A2G92YQQITAW%26keywords%3Dlaptop%26qid%3D1647427979%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%26rnid%3D12598141031%26s%3Dcomputers%26sprefix%3D%252Caps%252C285%26sr%3D1-2-spons%26psc%3D1&qualifier=1647427979&id=8238060166086742&widgetName=sp_atf',
 'https://www.amazon.in/Notebook-resolution-i7-11370H-15-6-inch-Fingerprint/dp/B098XL1SY5/ref=sr_1_3?crid=1A2G92YQQITAW&keywords=laptop&qid=1647427979&refinements=p_n_feature_thirteen_browse-bin%3A12598163031&rnid=12598141031&s=computers&sprefix=%2Caps%2C285&sr=1-3',
 'https://www.amazon.in/ASUS-VivoBook-i7-1065G7-Integrated-X415JA-EK701WS/dp/B09LJ4VLHH/ref=sr_1_4?crid=1A2G92YQQITAW&keywords=laptop&qid=1647427979&refinements=p_n_feature_thirteen_browse-bin%3A12598163031&rnid=12598141031&s=computers&sprefix=%2Caps%2C285&sr=1-4',
 'https://www.amazon.in/ASUS-i7-11600H-RTX-3050-Office-2019-FX566HCB-HN299TS/dp/B09PYVKSC7/ref=sr_1_5?crid=1A2G92YQQITAW&keywords=laptop&qid=1647427979&refinements=p_n_feature_thirteen_browse-bin%3A12598163031&rnid=12598141031&s=computers&sprefix=%2Caps%2C285&sr=1-5',
 'https://www.amazon.in/LG-Ultra-Light-Windows-Graphics-17Z90P-G-AH85A2/dp/B09MHV4CHB/ref=sr_1_6?crid=1A2G92YQQITAW&keywords=laptop&qid=1647427979&refinements=p_n_feature_thirteen_browse-bin%3A12598163031&rnid=12598141031&s=computers&sprefix=%2Caps%2C285&sr=1-6',
 'https://www.amazon.in/MSI-i7-10750H-IPS-Level-Windows-10SCXR-654IN/dp/B093L8QGL7/ref=sr_1_7?crid=1A2G92YQQITAW&keywords=laptop&qid=1647427979&refinements=p_n_feature_thirteen_browse-bin%3A12598163031&rnid=12598141031&s=computers&sprefix=%2Caps%2C285&sr=1-7',
 'https://www.amazon.in/ASUS-VivoBook-15-6-inch-i7-1165G7-K513EA-L712WS/dp/B09NY9BH9V/ref=sr_1_8?crid=1A2G92YQQITAW&keywords=laptop&qid=1647427979&refinements=p_n_feature_thirteen_browse-bin%3A12598163031&rnid=12598141031&s=computers&sprefix=%2Caps%2C285&sr=1-8',
 'https://www.amazon.in/Pavilion-x360-Convertible-Alexa-Built-14-dy1013TU/dp/B09P2RT87H/ref=sr_1_9?crid=1A2G92YQQITAW&keywords=laptop&qid=1647427979&refinements=p_n_feature_thirteen_browse-bin%3A12598163031&rnid=12598141031&s=computers&sprefix=%2Caps%2C285&sr=1-9',
 'https://www.amazon.in/Fujitsu-Graphics-Fingerprint-Warranty-4ZR1F38024/dp/B09HT86ZZQ/ref=sr_1_10?crid=1A2G92YQQITAW&keywords=laptop&qid=1647427979&refinements=p_n_feature_thirteen_browse-bin%3A12598163031&rnid=12598141031&s=computers&sprefix=%2Caps%2C285&sr=1-10']

In [45]:
#Extracting the ratings of the laptop by using exception as some products dont have any ratings
Ratings=[]   #Empty list
#Loop for every laptops in the list
for url in URL:
    driver.get(url)
    try:   #Exception handling by using NoSuchElementException
        prod_rating=driver.find_element_by_id("acrCustomerReviewText")  #Locating the rating link
        prod_rating.click()
        rating=driver.find_element_by_xpath('//span[@class="a-size-medium a-color-base"]') #Locating the rating tags
        Ratings.append(rating.text)  #Appending the text from tags to the list
    except NoSuchElementException as e:
        Ratings.append('No Rating')  #Appending message for products having no ratings

Ratings

['5 out of 5',
 '4.4 out of 5',
 '4.3 out of 5',
 '4.4 out of 5',
 '5 out of 5',
 '4.5 out of 5',
 '4.4 out of 5',
 '4 out of 5',
 '4.5 out of 5',
 '4.4 out of 5']

In [46]:
# Checking the length of the scraped data
print(len(laptop_titles),len(Ratings),len(laptop_price))

10 10 10

In [47]:
# Creating DataFrame for the scraped data
laptops = pd.DataFrame({})
laptops["Laptop Title"] = laptop_titles
laptops["Laptop Ratings"] = Ratings
laptops["Laptop Price"] = laptop_price
laptops

,Laptop Title,Laptop Ratings,Laptop Price
0,"ASUS TUF Gaming F15 (2021), 15.6"" (39.62 cms) ...",5 out of 5,"89,990"
1,"ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...",4.4 out of 5,"57,490"
2,Mi Notebook Ultra 3.2K Resolution Display Inte...,4.3 out of 5,"77,499"
3,"ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...",4.4 out of 5,"57,490"
4,"ASUS TUF Gaming F15 (2021), 15.6"" (39.62 cms) ...",5 out of 5,"89,990"
5,LG Gram Intel Evo 11th Gen Core i7 17 inches U...,4.5 out of 5,"96,999"
6,"MSI GF75 Thin Gaming, Intel Core i7-10750H, 44...",4.4 out of 5,"70,000"
7,"ASUS VivoBook K15 OLED (2021), 15.6-inch (39.6...",4 out of 5,"82,990"
8,HP Pavilion x360 11th Gen Intel Core i7 14 inc...,4.5 out of 5,"85,790"
9,Fujitsu UH-X 11th Gen Intel Core i7 13.3‚Äù FHD ...,4.4 out of 5,"84,990"

In [48]:
#Closing the driver
driver.close()

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of ‚ÄúSearch by Designations, Companies, Skills‚Äù enter
‚ÄúData Scientist‚Äù and click on search button.
4. You will reach to the following web page click on location and in place of ‚ÄúSearch location‚Äù enter
‚ÄúNoida‚Äù and select location ‚ÄúNoida‚Äù.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.

In [49]:
#Connect to web driver
driver = webdriver.Chrome("chromedriver.exe") 

#Getting the website to driver
driver.get('https://www.ambitionbox.com/')

#When we run this line, automatically the webpage will be opened

time.sleep(4)

#Extracting the element to click on the jobs option
click_jobs = driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]')
click_jobs

time.sleep(4)

#Clicking on jobs option
click_jobs.click()

In [50]:
#Extracting the search element to enter data scientist designation
search_bar = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input')

search_bar.send_keys("Data scientist")

time.sleep(3)


search_btn = driver.find_element_by_xpath('//*[@id="jobs"]/div[2]/div[1]/div/div/div/button/span')
search_btn

#clicking on search button
search_btn.click()

In [52]:
time.sleep(3)

#Extracting the element for location button
loc_btn = driver.find_element_by_xpath('//*[@id="filters-row"]/div/div/div[2]/div[1]/p')
loc_btn

loc_btn.click()

time.sleep(2)

#Extracting the element fot searching location
loc_search = driver.find_element_by_xpath('//*[@id="filters-row"]/div/div/div[2]/div[2]/div/div[2]/input')
loc_search

#Entering Noida as preferred location
loc_search.send_keys("Noida")

time.sleep(2)

#Selecting Noida from drop down list
noida = driver.find_element_by_xpath('//*[@id="filters-row"]/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
noida

#Clicking on noida
noida.click()

In [53]:
#Extracting elements for company name
company = driver.find_elements_by_xpath('//div[@class="company-info"]')
company

name=[] #creating an empty list

#Extracting all company names into a list
for i in company[:10]:
    name.append(i.text)

name

['NTT DATA GLOBAL DELIVERY SERVICES PRIVATE LIMITED\n ¬∑ \n3.9\nbased on 6.4k Reviews',
 'NTT DATA GLOBAL DELIVERY SERVICES PRIVATE LIMITED\n3.9\n(6.4k Reviews)',
 'HCL Technologies Limited\n3.8\n(16.2k Reviews)',
 'Optum Global Solutions (India) Private Limited\n4.1\n(1.2k Reviews)',
 'WSP CONSULTANTS INDIA PRIVATE LIMITED\n4.2\n(99 Reviews)',
 'Microsoft India (R and D) Pvt Ltd\n4.2\n(574 Reviews)',
 'HCL Technologies Ltd\n3.8\n(16.2k Reviews)',
 'Jubilant Foodworks Limited\n3.9\n(556 Reviews)',
 'HCL Technologies\n3.8\n(16.2k Reviews)',
 'RATEGAIN TRAVEL TECHNOLOGIES LIMITED\n3.8\n(72 Reviews)']

In [54]:
#Extracting elements for date posted
date_posted = driver.find_elements_by_xpath('//span[@class="body-small-l"]')
date_posted

date=[] #creating an empty list

#Extracting all dates posted on into a list
for i in date_posted[:20]:
    date.append(i.text.split())

date

[['7d', 'ago'],
 ['via', 'naukri.com'],
 ['8d', 'ago'],
 ['via', 'naukri.com'],
 ['18d', 'ago'],
 ['via', 'naukri.com'],
 ['8d', 'ago'],
 ['via', 'naukri.com'],
 ['19d', 'ago'],
 ['via', 'naukri.com'],
 ['16d', 'ago'],
 ['via', 'naukri.com'],
 ['6d', 'ago'],
 ['via', 'naukri.com'],
 ['23d', 'ago'],
 ['via', 'naukri.com'],
 ['20hr', 'ago'],
 ['via', 'naukri.com'],
 ['8d', 'ago'],
 ['via', 'naukri.com']]

In [55]:
del date[1::2]
date

[['7d', 'ago'],
 ['8d', 'ago'],
 ['18d', 'ago'],
 ['8d', 'ago'],
 ['19d', 'ago'],
 ['16d', 'ago'],
 ['6d', 'ago'],
 ['23d', 'ago'],
 ['20hr', 'ago'],
 ['8d', 'ago']]

In [56]:
#Extracting elements for rating
ratings = driver.find_elements_by_xpath('//span[@class="body-small"]')
ratings

rating=[] #creating an empty list

#Extracting all ratings into a list
for i in ratings[:10]:
    rating.append(i.text)

rating

['3.9', '3.8', '4.1', '4.2', '4.2', '3.8', '3.9', '3.8', '3.8', '3.7']

In [57]:
#creating a dataframe and adding columns to it
jobs = pd.DataFrame({'Company':name,'Date_posted':date,'Rating_of_company':rating})
jobs

,Company,Date_posted,Rating_of_company
0,NTT DATA GLOBAL DELIVERY SERVICES PRIVATE LIMI...,"[7d, ago]",3.9
1,NTT DATA GLOBAL DELIVERY SERVICES PRIVATE LIMI...,"[8d, ago]",3.8
2,HCL Technologies Limited\n3.8\n(16.2k Reviews),"[18d, ago]",4.1
3,Optum Global Solutions (India) Private Limited...,"[8d, ago]",4.2
4,WSP CONSULTANTS INDIA PRIVATE LIMITED\n4.2\n(9...,"[19d, ago]",4.2
5,Microsoft India (R and D) Pvt Ltd\n4.2\n(574 R...,"[16d, ago]",3.8
6,HCL Technologies Ltd\n3.8\n(16.2k Reviews),"[6d, ago]",3.9
7,Jubilant Foodworks Limited\n3.9\n(556 Reviews),"[23d, ago]",3.8
8,HCL Technologies\n3.8\n(16.2k Reviews),"[20hr, ago]",3.8
9,RATEGAIN TRAVEL TECHNOLOGIES LIMITED\n3.8\n(72...,"[8d, ago]",3.7

In [58]:
#Closing the driver
driver.close()

Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of ‚ÄúSearch Job Profile‚Äù enters ‚ÄúData Scientist‚Äù and
then click on ‚ÄúData Scientist‚Äù.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [59]:
#Connect to web driver
driver = webdriver.Chrome("chromedriver.exe") 

#Getting the website to driver
driver.get('https://www.ambitionbox.com/')

#When we run this line, automatically the webpage will be opened

time.sleep(4)

#Extracting the element to click on the salaries option
click_salaries = driver.find_element_by_xpath('//*[@id="headerWrapper"]/nav/nav/a[4]')
click_salaries

time.sleep(4)

#Clicking on jobs option
click_salaries.click()

In [61]:
#Extracting the search element to enter data scientist designation
search_bar = driver.find_element_by_xpath('//*[@id="jobProfileSearchbox"]')

search_bar.send_keys("Data scientist")

time.sleep(3)

#Extracting element of data scientist designation
ds = driver.find_element_by_xpath('//*[@id="salaries"]/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p')
ds

#clicking on data scientist designation using the extracted xpath
ds.click()

In [62]:
#Extracting elements for company name
company = driver.find_elements_by_xpath('//div[@class="name"]')
company

name=[] #creating an empty list

#Extracting all company names into a list
for i in company[:10]:
    name.append(i.text.replace('based','').replace('on','').replace('salaries','').replace('\n','').split()[:][0:-1])

name

[['Ab', 'Inbev'],
 ['ZS'],
 ['Optum'],
 ['Fractal', 'Analytics'],
 ['Tiger', 'Analytics'],
 ['UnitedHealth'],
 ['Veriz'],
 ['Ganit', 'Business', 'Solutis'],
 ['Ericss'],
 ['Deloitte']]

In [63]:
#Extracting elements for total salary record
total_salary_record = driver.find_elements_by_xpath('//div[@class="name"]')
total_salary_record

ts=[] #creating an empty list

for i in total_salary_record:
    ts.append(i.text.split()[:][-4:])
    
ts

[['based', 'on', '28', 'salaries'],
 ['based', 'on', '15', 'salaries'],
 ['based', 'on', '25', 'salaries'],
 ['based', 'on', '77', 'salaries'],
 ['based', 'on', '33', 'salaries'],
 ['based', 'on', '52', 'salaries'],
 ['based', 'on', '14', 'salaries'],
 ['based', 'on', '13', 'salaries'],
 ['based', 'on', '43', 'salaries'],
 ['based', 'on', '57', 'salaries']]

In [64]:
#Extracting elements for average salary
average_salary = driver.find_elements_by_xpath('//p[@class="averageCtc"]')
average_salary

avg_sal = [] #creating an empty list

for i in average_salary:
    avg_sal.append(i.text)
    
avg_sal

['‚Çπ 20.3L',
 '‚Çπ 15.3L',
 '‚Çπ 15.1L',
 '‚Çπ 15.1L',
 '‚Çπ 14.4L',
 '‚Çπ 13.9L',
 '‚Çπ 12.7L',
 '‚Çπ 12.4L',
 '‚Çπ 11.9L',
 '‚Çπ 11.7L']

In [65]:
#Extracting elements for minimum salary
minimum_salary = driver.find_elements_by_xpath('//div[@class="salary-values"]')
minimum_salary

mis=[] #creating an empty list

for i in minimum_salary:
    mis.append(i.text.split()[::][0:2])
    
mis

[['‚Çπ', '15.0L'],
 ['‚Çπ', '9.5L'],
 ['‚Çπ', '11.0L'],
 ['‚Çπ', '9.5L'],
 ['‚Çπ', '8.3L'],
 ['‚Çπ', '8.3L'],
 ['‚Çπ', '10.0L'],
 ['‚Çπ', '8.5L'],
 ['‚Çπ', '5.8L'],
 ['‚Çπ', '6.9L']]

In [66]:
#Extracting elements for maximum salary
maximum_salary = driver.find_elements_by_xpath('//div[@class="salary-values"]')
maximum_salary

mas=[] #creating an empty list

for i in maximum_salary:
    mas.append(i.text.split()[::][3:])
    
mas

[['25.5L'],
 ['20.0L'],
 ['21.3L'],
 ['22.0L'],
 ['20.0L'],
 ['20.5L'],
 ['21.0L'],
 ['15.0L'],
 ['24.0L'],
 ['23.4L']]

In [67]:
#Extracting elements for experience required
experience_required = driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')
experience_required

er=[] #creating an empty list

for i in experience_required:
    er.append(i.text.replace('Data Scientist\n','').replace('\n','').replace('exp','').split()[::][1:])
    
er

[['3-4', 'yrs'],
 ['2', 'yrs'],
 ['3-4', 'yrs'],
 ['2-4', 'yrs'],
 ['3-4', 'yrs'],
 ['2-4', 'yrs'],
 ['4', 'yrs'],
 ['4', 'yrs'],
 ['3-4', 'yrs'],
 ['2-4', 'yrs']]

In [68]:
salary_data = pd.DataFrame({'Company':name,'No of salaries based on':ts,'Average salary':avg_sal,'Minimum salary':mis,'Maximum salary':mas,'Experience required':er})
salary_data

,Company,No of salaries based on,Average salary,Minimum salary,Maximum salary,Experience required
0,"[Ab, Inbev]","[based, on, 28, salaries]",‚Çπ 20.3L,"[‚Çπ, 15.0L]",[25.5L],"[3-4, yrs]"
1,[ZS],"[based, on, 15, salaries]",‚Çπ 15.3L,"[‚Çπ, 9.5L]",[20.0L],"[2, yrs]"
2,[Optum],"[based, on, 25, salaries]",‚Çπ 15.1L,"[‚Çπ, 11.0L]",[21.3L],"[3-4, yrs]"
3,"[Fractal, Analytics]","[based, on, 77, salaries]",‚Çπ 15.1L,"[‚Çπ, 9.5L]",[22.0L],"[2-4, yrs]"
4,"[Tiger, Analytics]","[based, on, 33, salaries]",‚Çπ 14.4L,"[‚Çπ, 8.3L]",[20.0L],"[3-4, yrs]"
5,[UnitedHealth],"[based, on, 52, salaries]",‚Çπ 13.9L,"[‚Çπ, 8.3L]",[20.5L],"[2-4, yrs]"
6,[Veriz],"[based, on, 14, salaries]",‚Çπ 12.7L,"[‚Çπ, 10.0L]",[21.0L],"[4, yrs]"
7,"[Ganit, Business, Solutis]","[based, on, 13, salaries]",‚Çπ 12.4L,"[‚Çπ, 8.5L]",[15.0L],"[4, yrs]"
8,[Ericss],"[based, on, 43, salaries]",‚Çπ 11.9L,"[‚Çπ, 5.8L]",[24.0L],"[3-4, yrs]"
9,[Deloitte],"[based, on, 57, salaries]",‚Çπ 11.7L,"[‚Çπ, 6.9L]",[23.4L],"[2-4, yrs]"

In [69]:
#Closing the driver
driver.close()