# Collecting reviews and ratings from amazon for washing machine

In [1]:
#Importing libraries reqiured
import selenium
import pandas as pd
import time
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import requests
import re
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException, ElementClickInterceptedException
from selenium.webdriver.support.ui import WebDriverWait

In [2]:
#Connect to web driver
driver = webdriver.Chrome("chromedriver.exe")

#defining URL
url = 'https://www.amazon.in/'

#Getting the website to driver
driver.get(url)
#When we run this line, automatically the webpage will be opened

time.sleep(2) #adding sleep time of 2 seconds

#Searching for washing machine in the search bar 
#Extracting the elements from the Search bar
search_bar = driver.find_element_by_id('twotabsearchtextbox')
search_bar

#Entering 'washing machine' in the search bar
search_bar.send_keys('washing machine')

time.sleep(2) #adding sleep time of 2 seconds

#Extracting the element of search option
search_btn = driver.find_element_by_id('nav-search-submit-button')
search_btn

#clicking on the search button
search_btn.click()

In [3]:
#empty list for stoing all URLs of smartphone products
produrl =[]

In [4]:
produrl_tag = driver.find_elements_by_xpath('//a[@class="a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal"]')

In [5]:
#the url of each smartphone is appended to the the list
for u in produrl_tag:
    try: 
        produrl.append(u.get_attribute("href"))
    except:
        produrl.append('-')

In [6]:
# an empty list to store all the urls of the comment pages
rateurl = []

In [9]:
"""collects all the urls of 1 star - 5 star comment pages.
This is done to ensure that all comments that are being collected, represent each of the 5 different star ratings equally"""
for i in produrl:
    driver.get(i)
    time.sleep(3)
    url_tag5 = driver.find_element_by_xpath('//a[@class="a-link-normal 5star"]')
    url_tag4 = driver.find_element_by_xpath('//a[@class="a-link-normal 4star"]')
    url_tag3 = driver.find_element_by_xpath('//a[@class="a-link-normal 3star"]')
    url_tag2 = driver.find_element_by_xpath('//a[@class="a-link-normal 2star"]')
    url_tag1 = driver.find_element_by_xpath('//a[@class="a-link-normal 1star"]')
    rateurl.append(url_tag5.get_attribute("href"))
    rateurl.append(url_tag4.get_attribute("href"))
    rateurl.append(url_tag3.get_attribute("href"))
    rateurl.append(url_tag2.get_attribute("href"))
    rateurl.append(url_tag1.get_attribute("href"))

In [10]:
cmt = [] #empty list to store all comments
rate = [] #empty list to store all the ratings

In [ ]:
#all the comments and ratings on 5 pages are collected
for i in rateurl:
    driver.get(i)
    for x in range(0,5):
        time.sleep(3)
        comment_tag = driver.find_elements_by_xpath('//span[@class="a-size-base review-text review-text-content"]')
        rate_tag = driver.find_elements_by_xpath('//a[contains(@href,"/gp/customer-reviews/")]/i/span[1]')
        for k in comment_tag:
            try:
                cmt.append(k.text.replace("\n"," "))
            except:
                cmt.append("-")
        for r in rate_tag:
            try:
                rate.append(r.get_attribute("innerHTML"))
            except:
                rate.append("-")
        try:
            nxtbtn = driver.find_element_by_xpath('//*[@id="cm_cr-pagination_bar"]/ul/li[2]')
            nxtbtn.click()
        except NoSuchElementException:
            pass
        except ElementClickInterceptedException:
            pass
        except StaleElementReferenceException:
            pass

In [12]:
#removes the "out of 5 stars" text and stores only the numbers in the Rate list
Rate=[]
for r in rate:
    Rate.append(r.replace(' out of 5 stars',''))

In [13]:
#creating a dataframe to store the comments and ratings
ratingsdf = {'Comment':cmt,'Rating':Rate}

Ratedf1  = pd.DataFrame(ratingsdf)

In [14]:
Ratedf1

                                                Comment Rating
0     I was little confused after ordering it as few...    5.0
1      I have over the years developed good trust in...    5.0
2     Happy to say that it's a wonderful Washing mac...    5.0
3     I buy on sep 19 but its not working taking wat...    5.0
4                      Affordable and awesome go for it    5.0
...                                                 ...    ...
4786  Excellent product by LG & with Amazon best in ...    4.0
4787  Fully satisfied with the machine. Good quality...    4.0
4788  I gift to my sister she is very happy with thi...    4.0
4789         No custom option here for change wash time    4.0
4790                                Working as expected    4.0

[4791 rows x 2 columns]

In [15]:
#Closing the driver
driver.close()

# Collecting reviews and ratings from amazon for smart phone

In [16]:
#Connect to web driver
driver = webdriver.Chrome("chromedriver.exe")

#defining URL
url1 = 'https://www.amazon.in/'

#Getting the website to driver
driver.get(url)
#When we run this line, automatically the webpage will be opened

time.sleep(2) #adding sleep time of 2 seconds

#Searching for smart phone in the search bar 
#Extracting the elements from the Search bar
search_bar1 = driver.find_element_by_id('twotabsearchtextbox')
search_bar1

#Entering 'smart phone' in the search bar
search_bar1.send_keys('smart phone')

time.sleep(2) #adding sleep time of 2 seconds

#Extracting the element of search option
search_btn1 = driver.find_element_by_id('nav-search-submit-button')
search_btn1

#clicking on the search button
search_btn1.click()

In [17]:
#empty list for stoing all URLs of smartphone products
produrl1 =[]

In [18]:
produrl_tag1 = driver.find_elements_by_xpath('//a[@class="a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal"]')

In [19]:
#the url of each smartphone is appended to the the list
for u in produrl_tag1:
    try: 
        produrl1.append(u.get_attribute("href"))
    except:
        produrl1.append('-')

In [20]:
# an empty list to store all the urls of the comment pages
rateurl1 = []

In [21]:
"""collects all the urls of 1 star - 5 star comment pages.
This is done to ensure that all comments that are being collected, represent each of the 5 different star ratings equally"""
for i in produrl1:
    driver.get(i)
    time.sleep(3)
    url_tag51 = driver.find_element_by_xpath('//a[@class="a-link-normal 5star"]')
    url_tag41 = driver.find_element_by_xpath('//a[@class="a-link-normal 4star"]')
    url_tag31 = driver.find_element_by_xpath('//a[@class="a-link-normal 3star"]')
    url_tag21 = driver.find_element_by_xpath('//a[@class="a-link-normal 2star"]')
    url_tag11 = driver.find_element_by_xpath('//a[@class="a-link-normal 1star"]')
    rateurl1.append(url_tag51.get_attribute("href"))
    rateurl1.append(url_tag41.get_attribute("href"))
    rateurl1.append(url_tag31.get_attribute("href"))
    rateurl1.append(url_tag21.get_attribute("href"))
    rateurl1.append(url_tag11.get_attribute("href"))

In [22]:
cmt1 = [] #empty list to store all comments
rate1 = [] #empty list to store all the ratings

In [25]:
#all the comments and ratings on 10 pages are collected
for i in rateurl1:
    driver.get(i)
    for x in range(0,10):
        time.sleep(3)
        comment_tag1 = driver.find_elements_by_xpath('//span[@class="a-size-base review-text review-text-content"]')
        rate_tag1 = driver.find_elements_by_xpath('//a[contains(@href,"/gp/customer-reviews/")]/i/span[1]')
        for k in comment_tag1:
            try:
                cmt1.append(k.text.replace("\n"," "))
            except:
                cmt1.append("-")
        for r in rate_tag1:
            try:
                rate1.append(r.get_attribute("innerHTML"))
            except:
                rate1.append("-")
        try:
            nxtbtn1 = driver.find_element_by_xpath('//*[@id="cm_cr-pagination_bar"]/ul/li[2]')
            nxtbtn1.click()
        except NoSuchElementException:
            pass
        except ElementClickInterceptedException:
            pass
        except StaleElementReferenceException:
            pass

In [26]:
#removes the "out of 5 stars" text and stores only the numbers in the Rate list
Rate1=[]
for r in rate1:
    Rate1.append(r.replace(' out of 5 stars',''))

In [27]:
#creating a dataframe to store the comments and ratings
ratingsdf1 = {'Comment':cmt1,'Rating':Rate1}

Ratedf2  = pd.DataFrame(ratingsdf1)

In [28]:
Ratedf2

                                                 Comment Rating
0      With 5G connectivity, a 120Hz display and soli...    5.0
1      Amazon is a trust worthy side to purchase ever...    5.0
2                                                           5.0
3      Nice mobile.Display only tft. If it is amoled ...    5.0
4      Bought it today. Find it cool and smooth. Best...    5.0
...                                                  ...    ...
10823  The camera app opens on 2X with a blank screen...    1.0
10824  Face id not working, got opened/ used product,...    1.0
10825  Too high cost, ony few people can afford it. S...    1.0
10826  Same as iphone 12 expect camara not satisfied ...    1.0
10827  Battery life is worst . Even normal use call w...    1.0

[10828 rows x 2 columns]

In [29]:
#Closing the driver
driver.close()

# Collecting reviews and ratings from flipkart for 'laptops', 'Phones','smart watches','Monitors'

In [30]:
# Connecting to the webdriver
driver = webdriver.Chrome("chromedriver.exe")

In [31]:
url = "https://www.flipkart.com/"
driver.get(url)
time.sleep(2)
#clicking on cancel buttopn 
driver.find_element_by_xpath('//div[@class="_2QfC02"]/button').click()

In [32]:
srch_items = ['laptop', 'smart phone','smart watch','Monitor']

In [33]:
review_text = []
ratings = []

In [34]:
def scrap():    
        for i in driver.find_elements_by_xpath('//div[@class="t-ZTKy"]'):
            review_text.append(i.text)
            
        for i in driver.find_elements_by_xpath('//p[@class="_2-N8zT"]/../div'):
            ratings.append(i.text)
        return

In [35]:
urls=[]

In [36]:
for i in srch_items:
    #Find search bar
    srchBar = driver.find_element_by_xpath('//div[@class="_3OO5Xc"]/input')
    srchBar.clear()
    srchBar.send_keys(i)
    #clicking on search button
    driver.find_element_by_xpath('//button[@class="L0Z3Pu"]').click()
    time.sleep(3)
    page = []
    for i in driver.find_elements_by_xpath('//nav[@class="yFHi8N"]/a'):
        page.append(i.get_attribute('href'))
    for i in page[0:4]:
        driver.get(i)
        time.sleep(3)
        items = driver.find_elements_by_xpath('//a[@class="_1fQZEK"]')
        for i in items:
            urls.append(i.get_attribute('href'))

In [37]:
len(urls)

352

In [38]:
for i in urls:
    driver.get(i)
    time.sleep(2)
    for _ in range(2):
        driver.execute_script("window.scrollBy(0,6000)")
        time.sleep(1)
        #clicking on all reviews
    try:
        btn=driver.find_element_by_xpath('//div[@class="_2c2kV-"]/following::a')
        lnk = btn.get_attribute('href')
        driver.get(lnk)
        time.sleep(1)
    except NoSuchElementException:
        pass

    scrap()        
    try:
        n_page=driver.find_elements_by_xpath('//nav[@class="yFHi8N"]/a')
        np=[]
        for i in n_page:
            np.append(i.get_attribute('href'))
        for i in np[0:18]:
            driver.get(i)
            time.sleep(1)
            scrap()
    except: continue

In [39]:
len(ratings), len(review_text)

(12954, 12954)

In [40]:
#creating a dataframe
data = list(zip(review_text,ratings))
df2 = pd.DataFrame(data, columns = ["Comment","Rating"])
df2

                                                 Comment Rating
0      Nice and decent laptop from Lenovo those peopl...      5
1      Battery 5 6 hours Decent camera all you need f...      5
2      Worth for money.Received in good packing.Updat...      5
3      Best leptop....\nBuild quality: 5\nPerformance...      5
4                      Osm product... Ko go for only ssd      5
...                                                  ...    ...
12949                      Not usable for professionals,      1
12950  ( Honest opinion)\nGreat Product I would say.....      5
12951  Mouse disconnects automatically,in 3 minutes idle      2
12952  Touch pad turns off automatically after few se...      2
12953  Keyboard is very small and cannot be accessibl...      1

[12954 rows x 2 columns]

In [42]:
#saving all the datframes as csv
Ratedf1.to_csv("amazon_reviews1.csv")
Ratedf2.to_csv("amazon_reviews2.csv")
df2.to_csv("flipkart_reviews1.csv")

In [45]:
#lets load all the 3 review csv files
a = pd.read_csv("amazon_reviews1.csv")
a

      Unnamed: 0                                            Comment Rating
0              0  I was little confused after ordering it as few...    5.0
1              1   I have over the years developed good trust in...    5.0
2              2  Happy to say that it's a wonderful Washing mac...    5.0
3              3  I buy on sep 19 but its not working taking wat...    5.0
4              4                   Affordable and awesome go for it    5.0
...          ...                                                ...    ...
4786        4786  Excellent product by LG & with Amazon best in ...    4.0
4787        4787  Fully satisfied with the machine. Good quality...    4.0
4788        4788  I gift to my sister she is very happy with thi...    4.0
4789        4789         No custom option here for change wash time    4.0
4790        4790                                Working as expected    4.0

[4791 rows x 3 columns]

In [46]:
b = pd.read_csv("amazon_reviews2.csv")
b

       Unnamed: 0                                            Comment Rating
0               0  With 5G connectivity, a 120Hz display and soli...    5.0
1               1  Amazon is a trust worthy side to purchase ever...    5.0
2               2                                                NaN    5.0
3               3  Nice mobile.Display only tft. If it is amoled ...    5.0
4               4  Bought it today. Find it cool and smooth. Best...    5.0
...           ...                                                ...    ...
10823       10823  The camera app opens on 2X with a blank screen...    1.0
10824       10824  Face id not working, got opened/ used product,...    1.0
10825       10825  Too high cost, ony few people can afford it. S...    1.0
10826       10826  Same as iphone 12 expect camara not satisfied ...    1.0
10827       10827  Battery life is worst . Even normal use call w...    1.0

[10828 rows x 3 columns]

In [47]:
c = pd.read_csv("flipkart_reviews1.csv")
c

       Unnamed: 0                                            Comment  Rating
0               0  Nice and decent laptop from Lenovo those peopl...       5
1               1  Battery 5 6 hours Decent camera all you need f...       5
2               2  Worth for money.Received in good packing.Updat...       5
3               3  Best leptop....\nBuild quality: 5\nPerformance...       5
4               4                  Osm product... Ko go for only ssd       5
...           ...                                                ...     ...
12949       12949                      Not usable for professionals,       1
12950       12950  ( Honest opinion)\nGreat Product I would say.....       5
12951       12951  Mouse disconnects automatically,in 3 minutes idle       2
12952       12952  Touch pad turns off automatically after few se...       2
12953       12953  Keyboard is very small and cannot be accessibl...       1

[12954 rows x 3 columns]

In [49]:
# Concatenating all DataFrames into one
frames = [a, b, c]
  
result = pd.concat(frames)
print(result)

       Unnamed: 0                                            Comment Rating
0               0  I was little confused after ordering it as few...    5.0
1               1   I have over the years developed good trust in...    5.0
2               2  Happy to say that it's a wonderful Washing mac...    5.0
3               3  I buy on sep 19 but its not working taking wat...    5.0
4               4                   Affordable and awesome go for it    5.0
...           ...                                                ...    ...
12949       12949                      Not usable for professionals,      1
12950       12950  ( Honest opinion)\nGreat Product I would say.....      5
12951       12951  Mouse disconnects automatically,in 3 minutes idle      2
12952       12952  Touch pad turns off automatically after few se...      2
12953       12953  Keyboard is very small and cannot be accessibl...      1

[28573 rows x 3 columns]

In [50]:
#saving the data into csv file
result.to_csv("ratings and reviews.csv")

In [51]:
d = pd.read_csv("ratings and reviews.csv")
d

,Unnamed: 0,Unnamed: 0.1,Comment,Rating
0,0,0,I was little confused after ordering it as few...,5.0
1,1,1,I have over the years developed good trust in...,5.0
2,2,2,Happy to say that it's a wonderful Washing mac...,5.0
3,3,3,I buy on sep 19 but its not working taking wat...,5.0
4,4,4,Affordable and awesome go for it,5.0
...,...,...,...,...
28568,12949,12949,"Not usable for professionals,",1
28569,12950,12950,( Honest opinion)\nGreat Product I would say.....,5
28570,12951,12951,"Mouse disconnects automatically,in 3 minutes idle",2
28571,12952,12952,Touch pad turns off automatically after few se...,2
28572,12953,12953,Keyboard is very small and cannot be accessibl...,1