In [1]:
import sqlite3

In [2]:
db=sqlite3.connect("customersdata.db")

In [3]:
cur=db.cursor()

In [4]:
cur.execute("create table Customers (customerNumber int primary key, CustomerName varchar(30), ContactLastName varchar(20), ContactFirstName varchar(20), phone int, addressLine1 varchar(20), addressLine2 varchar(20), city varchar(20), state varchar(20), postalCode int, country varchar(20), salesRepEmployeeNumber int, creditLimit float);")

In [5]:
cur.execute("create table Orders(orderNumber int primary key, orderDate int, requiredDate int, shippedDate int, status varchar(20), comments varchar(30), customerNumber int);")

In [6]:
cur.execute("select * from Orders;")

In [7]:
cur.execute(" select comments from Orders;")

In [8]:
cur.execute(" select orderDate, count(orderNumber) from orders group by orderDate;")

In [9]:
cur.execute ("create table employees (employeeNumber int primary key, lastName varchar(20), firstName varchar(20), extension varchar(20), email varchar(30), OfficeCode varchar(10), reportsTo varchar(30), jobTitle varchar(30));")

In [10]:
cur.execute("select employeeNumber, lastName,firstName from employees;")

In [11]:
cur.execute("select Orders.orderNumber, Customers.CustomerName from Customers INNER JOIN Orders ON Orders.customerNumber=Customers.customerNumber;")

In [12]:
cur.execute(" select customerName, salesRepEmployeeNumber from Customers;")

In [13]:
cur.execute("create table payments (customerNumber int NOT NULL primary key, checkNumber int, paymentDate DATE, amount int);")

In [14]:
cur.execute("select date(paymentdate), sum(amount) as total from payments group by date(paymentdate);")

In [15]:
cur.execute("create table products (productCode int primary key, productName varchar(20), productLine varchar(20), productScale varchar(20), productVendor varchar(20), productDescription varchar(20), quantityInStock int, buyPrice int, MSRP int);")

In [16]:
cur.execute("select productName, MSRP, productDescription from products;")

In [17]:
cur.execute("select productName, productDescription from products group by productName order by count(productName) desc limit 1;")

In [18]:
cur.execute("select city from Customers inner join orders on Customers.customerNumber=Orders.customerNumber group by city order by city desc limit 1;")

In [19]:
cur.execute("select state from customers group by state order by count(customerNumber) desc limit 1;")

In [20]:
cur.execute("select employeeNumber from employees;")
cur.execute("select (firstName || '' || lastName) as fullname from employees order by fullname;")

In [21]:
cur.execute("create table orderdetails (orderNumber int NOT NULL primary key, productCode int, quantityOrdered int, priceEach int, orderLineNumber int);")

In [22]:
cur.execute("select orders.orderNumber, Customers.customerName, orderdetails.quantityOrdered, orderdetails.quantityOrdered*orderdetails.priceEach as totalamount from ((orders inner join Customers on orders.customerNumber=Customers.customerNumber) inner join orderdetails on orders.orderNumber=orderdetails.orderNumber)")